- var name = solution.filepath.relative.match(/solutions[\/]\d+-(.*?)\.md$/)[1]
- var features = _.chain(solution.parent[name]._.pages).sortBy(function(item) {
-   var ptn = RegExp('solutions/' + name + '/' + '(\\d+)-.*')
-   var match = item.filepath.relative.match(ptn)
-   return parseInt(match[1])
- }).value();

.content-area.solution(class=solution.metadata.class, id=name, name=name)
  header
    .expand EXPAND
    .icon
      - var solIconDimensions = 60
      img(src='/images/' + solution.metadata.icon, width=solIconDimensions, alt=name)
    h2.title= solution.metadata.title

  article
    .solution-compacted
      .vpadded
        .hpadded!= solution.html

        ul.list-unstyled.align-center
          each feature in features
            - var icon_file = feature.metadata.icon
            - var iconDimensions = 60
            - var icon_alt  = icon_file.match(/^(.*?)\.(png|jpg)$/)[1].split('-').join(' ')
            li.feature
              .icon
                img(src='/images/solution-icons/' + icon_file, width=iconDimensions, alt=icon_alt)
              .title!= feature.html

    .solution-expanded
      .row
        .col-sm-8
          .padded
            != solution.html

            ul.list-unstyled.features
              each feature in features
                li.feature
                  .row
                    .col-sm-2
                      .icon
                        - var icon_file = feature.metadata.icon
                        - var iconDimensions = 60
                        - var icon_alt  = icon_file.match(/^(.*?)\.(png|jpg)$/)[1].split('-').join(' ')
                        img(src='/images/solution-icons/' + icon_file, width=iconDimensions, alt=icon_alt)
                    .col-sm-10
                      != feature.html

        .col-sm-4.expanded-image
          img.img-responsive(src='/solutions/' + name + '/' + solution.metadata.image, alt=name)

