extends layout

block title
  | About Us | 
  = locals.name

block content
  #about-us
    .container
      - var about_us = contents['about-us']
      - var partnerships = about_us['trusted-partnerships']

      #knowledge-technology.content-area
        - var expert_knowledge = about_us['expert-knowledge.md']
        - var adv_technology   = about_us['advanced-technology.md']
        .graybox
          .padded

            article
              .row
                .col-sm-6!= expert_knowledge.html
                .col-sm-6!= adv_technology.html

              .vpadded(style='padding-bottom: 0')
                .hidden-md.hidden-lg
                  img.img-responsive(src='/about-us/technology-platform.png', alt='Technology Platform')

                .row
                  .col-md-3
                    .solution.enabling
                      .align-right!= about_us.lists['hr-services.md'].html
                  .col-md-6
                    .solution.empowering
                      .align-center!= about_us.lists['hr-outsourcing.md'].html
                  .col-md-3
                    .solution.growing
                      .align-left!= about_us.lists['hr-consulting.md'].html

      #about-us-banner.content-area
        != about_us['h1-title.md'].html

      #our-approach.content-area
        - var content = contents['about-us']['our-approach.md']
        - var approaches = about_us.approaches
        .graybox
          .padded
            != about_us['our-approach-top.md'].html

            .vpadded(style='padding-bottom: 0')
              .row
                .col-sm-4
                  .align-right
                    .approach.experience!= approaches['experience.md'].html
                    .approach.technology!= approaches['technology.md'].html
                .col-sm-4
                  .align-center
                    img.img-responsive(src=about_us['choose-astra.png'].url)
                .col-sm-4
                  .approach.collaboration!= approaches['collaboration.md'].html
                  .approach.commitment!= approaches['commitment.md'].html

      #trusted-partnerships.content-area
        - var content = about_us['trusted-partnerships.md']

        - var partnerships = about_us['trusted-partnerships']
        - var services = partnerships['services-spectrum.md']
        - var partners = partnerships['channel-partners.md']

        != content.html
        .row
          .col-sm-6
            p: img.img-responsive(src=partnerships[services.metadata.image].url alt='Services Spectrum')
            != services.html
          .col-sm-6
            p: img.img-responsive(src=partnerships[partners.metadata.image].url alt='Channel Partners')
            != partners.html


block footermsg
  .container
    .heading-box.greenDark
      h3 The Strength of Your Business Lies<br/> in Your Workforce Solutions

