extends layout

block title
  | Building productivity into a workforce one employee at a time | 
  = locals.name

block content
  .container
    #services-overview
      .row
        .service.col-sm-4
          .section
            .icon
              - icon_width, icon_height = 60
              img(src=contents.images['icon-enabling.png'].url, width=icon_width, height=icon_height)
            h4 ENABLING YOUR BUSINESS
            p We will take care of basic HR functions from payroll to benefit administration to workers’ comp.
            p
              a.btn.btn-sm.btn-primary(href='#', role='button') HR SERVICES

        .service.col-sm-4
          .section
            .icon
              - icon_width, icon_height = 60
              img(src=contents.images['icon-growing.png'].url, width=icon_width, height=icon_height)
            h4 ENABLING YOUR BUSINESS
            p You need to attract talent, develop skills and reward employees preparing you for growth.
            p
              a.btn.btn-sm.btn-primary(href='#', role='button') HR CONSULTING

        .service.col-sm-4
          .section
            .icon
              - icon_width, icon_height = 60
              img(src=contents.images['icon-empowering.png'].url, width=icon_width, height=icon_height)
            h4 ENABLING YOUR BUSINESS
            p You keep your focus on your business and we’ll be your hR department.
            p
              a.btn.btn-sm.btn-primary(href='#', role='button') HR OUTSOURCING

  #home-banner
    h1 Building productivity into a workforce one employee at a time

  .container
    #business-cornerstone.graybox
      .section
        h2 THE CORNERSTONE OF YOUR BUSINESS
        h3 We deliver a full suite of HR services and solutions so that you as a busy business owner can focus your attention on your clients and the growth of your business.

        .hpadded
          .row
            .col-sm-6
              h3 Our History
              p For over 15 years, Cobalt Astra has delivered HR Administration and Consulting services to a broad array of businesses in diverse industries. We pride ourselves in understanding your business first – including your unique employer culture – and then recommending appropriate HR solutions to support your business.

            .col-sm-6
              h3 What Sets Us Apart
              p Cobalt Astra delivers HR services in a very flexible business model. We can provide our HR services and consulting solutions to your business in a PEO, ASO or HRO model1. We deliver our services - when you need it, how you need it - through highly qualified HR professionals with a personalized touch.

        p.align-right(style='margin-top: 20px;')
          a(href='#') Complete HR outsourcing solution.

block footermsg
  .container
    .heading-box.blueDark
      h3 Workforce Solutions that Build<br /> a Stronger Business.

