extends layout

block title
  | Building productivity into a workforce one employee at a time | 
  = locals.name

block content
  #home-index
    .container
      #home-solutions-overview.content-area
        .row
          .solution.col-sm-4
            .section
              .icon.enabling
                img(src=contents.images['icon-enabling.png'].url)
              .content!= contents.home['solutions-overview']['1-enabling.md'].html
              p
                a.btn.btn-primary(href='/our-solutions.html#enabling', role='button') HR SERVICES

          .solution.col-sm-4
            .section
              .icon.growing
                img(src=contents.images['icon-growing.png'].url)
              .content!= contents.home['solutions-overview']['2-growing.md'].html
              p
                a.btn.btn-primary(href='/our-solutions.html#growing', role='button') HR CONSULTING

          .solution.col-sm-4
            .section
              .icon.empowering
                img(src=contents.images['icon-empowering.png'].url)
              .content!= contents.home['solutions-overview']['3-empowering.md'].html
              p
                a.btn.btn-primary(href='/our-solutions.html#empowering', role='button') HR OUTSOURCING

    #home-banner.content-area
      != contents.home['h1-title.md'].html

    .container
      #business-cornerstone.content-area
        .graybox
          .padded
            != contents.home['business-cornerstone.md'].html

            .vpadded
              .row
                .col-sm-5.align-right
                  != contents.home['business-cornerstone']['col-left.md'].html

                .col-sm-2
                  p.align-center
                    img.img-responsive(src=contents.images['comprehensive-hr-solutions.png'].url, alt='Comprehensive HR Solutions')

                .col-sm-5
                  != contents.home['business-cornerstone']['col-right.md'].html

block footermsg
  .container
    .heading-box.blueDark
      h3 Workforce Solutions that Build<br /> Stronger Businesses

